@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    height: 100;
}

.layout {
    display: grid;
    height: 100vh;
    margin: 0;
    padding: 0%;
    grid-template: 15% 80% 5% / 20% 60% 20%;
    background-color: lightsteelblue;
    font-family: 'Roboto', sans-serif;

}

.leftPanel {
    padding: 2%;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    background-color: #0284c7;
    color: white;
    grid-template: 10% 45% 45% / 100%;
    gap:5%
}


.Hero {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    
}

.firstOptions {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

}

.secondOptions {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;

}


























.header {
    padding: 2%;
    display: grid;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: white;
}

.search {
    width: 60%;
    display: flex;
    gap: 1%;
}

input {
    min-width: 100%;
    max-width: 476.7px;
    background-color: lightgray;
    border-radius: 6px;
    border-width: 0px;
    padding-left: 2%;
    font-style: italic;
}

.searchButton {
    position: relative;
    width: 24PX;
    height: 24PX;
    background-color: white;
    color: gray;
}

.middleSection {
    padding: 2%;
    margin-top: 2vh;
    margin-left: 2%;
    margin-right: 2%;
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    border: solid RED;
}

.rightSection {
    padding: 2%;
    margin-top: 2vh;
    margin-right: 10%;
    display: grid;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    border: solid green;

}